<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="/assets/imgs/logo.png" width="120" height="60" class="d-inline-block align-top" alt="SportGym">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="!isCollapsed" [isAnimated]="true" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle active" dropdownToggle role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Inscripción
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" href="#">Nueva Inscripción</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ver Inscripciones</a>
                </div>
            </li>

            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/clientes/nuevo-cliente']">Agregar Cliente</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/clientes']">Ver Clientes</a>
                </div>
            </li>

            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Precios
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" href="#">Agregar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ver Precios</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Usuarios</a>
            </li>

            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Reportes
                </a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" href="#">Suscripciones Diarias</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Suscripciones Mensuales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Mas Vendidas</a>
                </div>
            </li>
        </ul>

        <button class="btn btn-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>

</nav>