[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
    color: #878787;
    cursor        : pointer;
}

[type="file"]::-webkit-file-upload-button {
    background    : #28a745;
    border        : 2px solid #28a745;
    border-radius : 4px;
    color         : #fff;
    cursor        : pointer;
    font-size     : 12px;
    outline       : none;
    padding       : 10px 25px;
    text-transform: uppercase;
    transition    : all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
    background: transparent;
    border    : 2px solid #28a745;
    color     : #28a745;
}

.title {
    font-size: 2.5rem;
    clear: both;
    line-height: 1.3;
    margin: 0 0 25px;
    color: #02071b;
    font-weight: 600;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
        text-align: center;
    }
    
}