<div class="container mt-4 mb-4">
    <h4>Listado de Clientes</h4>

    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" name="buscador" id="buscador" placeholder="Busque un cliente...">
        </div>
    </form>

    <div class="row">
        <div class="col-md-3 col-sm-4" *ngFor="let cliente of clientes">
            <div class="card mb-3">
                <img [src]="cliente.imgUrl"
                    class="card-img-top img-client" [alt]="cliente.name">
                <div class="card-body">
                    <h5 class="card-title">{{cliente.name}} {{cliente.lastName}}</h5>
                    <p>{{cliente.id}}</p>
                    <a [routerLink]="['/clientes/editar-cliente/', cliente.id]" class="card-link">Editar</a>
                    <a (click)="deleteClient(cliente.id)" class="text-danger card-link">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>