/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

html {
    position  : relative;
    min-height: 100%;
}

body {
    padding-bottom: 80px;
    min-height: calc(100% - 80px);
}